<%- page_title('WAHL-APPS') %>

<div class="gradient-content background-teacher-apps teacher-apps-desktop">
  <div class="background-corner"> 

 <%= react_component(
      'TeacherApps',
      apps: @apps) %>
</div>

</div>
