#election-apps
  .app-block
    width: 12rem
    height: 21rem
    border: 0.2rem solid $white
    background-color: inherit
    border-radius: 1rem
    overflow: hidden
    clear: none
    .card-title
      font-weight: 600
    .card-text
      line-height: 1.2rem
    .card-footer
      background-color: $white
      position: absolute
      bottom: 0
      width: 100%
      border: 0
