@import "app_description"
@import "app_item"
@import "category_item"


.election-apps
  background: url('../javascript/images/europe.svg')
  background-size:  270px 277.65px
  background-repeat: no-repeat
  background-position-y: -46px
  background-position-x: 97%
  @include media-breakpoint-down(md)
    background: none
