.app-item
  .app-block
    width: 13rem
    height: 19rem
    border: 0.2rem solid $white
    background-color: $white_transparent
    transition: all 0.3s ease-out
    border-radius: 0.6rem
    overflow: hidden
    clear: none
    &:hover
      cursor: pointer
      @include media-breakpoint-up(sm)
        background-color: $pompadour
  // mobile version
  @include media-breakpoint-down(sm)
    margin: 0 !important
    padding: 6px 0 !important
    .card-text
      display: none
    .app-block
      border-radius: 0.1rem
      display: inline-block
      padding: 0
      &:hover
        border-radius: 0.1rem

    .card
      width: 90vw
      height: 3rem
      border: 0
      background-color: $white_transparent
      border-radius: 0.1rem 0 0
      border-bottom: 1px solid $white
      overflow: hidden
    .card-body
      margin: 0 !important
      padding: 0.5rem 0 !important
      h4
        font-size: 1rem
        display: inline-block
        padding: 0
        margin: 0
        float: left
        width: 80%
      .more-icon
        font-size: 1rem
        display: inline-block
        padding: 0
        margin: 0
        float: left
        width: 20%
        img
          width: 25px
      .more-text
        display: none
    .app-description
      padding: 0.1rem 0
      margin: 0
      float: left
      width: 60%
    .footer-link
      padding: 0
      margin: 0
      float: left
      width: 40%
      overflow: visible
      a
        color: $white
        font-size: 1rem
      .card-footer
        background-color: $yellow
        writing-mode: initial
        text-justify: unset
        margin: 0
        padding: 0
        border-radius: 2rem
        line-height: 1rem
        margin: 0.4rem
        font-size: 0.9rem
        border-top: 0

  // desktop version
  @include media-breakpoint-up(sm)
    .selected
      opacity: 0.75
      & .app-block
        background-color: $pompadour
    .app-details
      .app-title
        border-bottom: 1px solid $white
        padding-bottom: 2rem
    .category-title-icon
      float: left
      img
        height: 3rem
    .category-container
      width: 100%
      width: fit-content
      width: -moz-fit-content
      padding-bottom: 3rem

    a
      color: $white
      text-decoration: none
      &:hover
        text-decoration: none
        .more
          text-decoration: underline
    .card-title-wrapper
      height: 85px
      display: flex
    .card-title
      font-size: 1.3rem
      font-weight: 600
      margin-top: auto
    .card-body
      padding: 15px 10px 0 20px
      height: 100%
      .more-text
        position: absolute
        bottom: 45px
        color: $white
        font-weight: bold
        font-size: 1.1rem
      .more-icon
        display: none
    .card-text
      line-height: 1.2rem
    .card-footer
      text-align: center
      background-color: $white
      position: absolute
      bottom: 0
      width: 100%
      border: 0
    .footer-link
      a
        color: $pompadour
        font-weight: bold
        font-size: 1.1rem
