#AppDescription
  .btn-container
    padding: 1rem 0
    .btn
      display: inline-block
      width: 100%
      padding: 0.4rem 2rem
      margin: 0.3rem auto
      img
        width: 2rem
        position: relative
        top: 3px
      .text
        margin: auto
      .icon
        float: left
