<header class="header w-100">
  <div class="main-menu-toggler-container">
    <a class="main-menu-toggler main-menu-open" href="#"><img src='/menu-open.svg' /> </a>
  </div>
  <div class="main-menu h-100 w-100 no-gutters">

    <div class="col-12 d-flex">
      <div class="col-lg-2 p-4 col-md-4 text-left">
        <a class="main-menu-logo" href="#"> <img src='/wahl-daten-helfer-logo.svg' /> </a>
      </div>
      <div class="col-lg-2 p-4 my-2 col-md-4 ml-auto">
        <h6>MENÜ</h6>
      </div>
    </div>
    <div class="col-12 h-75 m-auto">
      <div class="main-menu-list-container col-lg-7 col-md-10 col-sm-12 h-50 mx-auto h-75">
        <ul class="main-menu-list">
          <li>WARUM wählen?</li>
          <li>WEN soll ich wählen?</li>
          <li>WIE geht wählen?</li>
          <li>WAS passiert aktuell </li>
          <li>in der Politik?</li>
          <li>&nbsp;</li>
          <li>WAHL-APPS</li>
          <li><%= link_to 'GLOSSAR', glossary_path %></li>
        </ul>
      </div>
    </div>
    <div class="col-12 mt-auto">
      <div class="col-2 ml-auto">
        <a class="btn btn-default" href="#"> IMPRESSUM </a>
      </div>
    </div>
    <div class="main-menu-toggler-container">
      <a class="main-menu-toggler main-menu-close" href="#"> <img src='/menu-close.svg' /> </a>
    </div>

  </div>
</header>
