<div class="ghost">
  <div class="text-center">
    <img src="/ghost.svg" />
    <p>Bist du noch unschlüssig welche Partei du wählen sollst?</p>
  </div>
  <%= link_to 'Mehr Wahl-Apps', election_apps_path, class: 'btn btn-default' %>
</div>
