<div class="ghost-container">
  <div class="text-center">
    <img src="/ghost.svg" />
    <p>Noch nicht sicher, wen du wählen sollst?</p>
  </div>
</div>
<%= link_to 'Mehr Wahl-Apps', election_apps_path, class: 'btn btn-default' %>
