body
	font-family: $font_0
	font-weight: 300
	background-color: $orange
	color: $white
	background: $orange
	-webkit-hyphens: auto
	-moz-hyphens: auto
	-ms-hyphens: auto
	hyphens: auto
footer
	padding: 40px 0 20px 0
@include media-breakpoint-down(sm)
	footer
		padding: 20px 0
h2
	font-size: 1.8rem
.color-call-to-action
	color: $yellow !important
.logo-container
	img
		width: 100px
.main-menu-open
    height: auto
    overflow: hidden
    overflow: hidden
h1.main-title
	font-size: 2.25rem
	font-weight: bold
	padding-bottom: 0.25rem
	margin-bottom: 0.25rem
	@include media-breakpoint-down(sm)
		font-size: 1.6rem
		margin-top: 4rem
		padding-top: 4rem
.gradient-content
	background: $orange
	background: -moz-linear-gradient(-45deg, #ffa355 0%, #d85c75 100%)
	background: -webkit-linear-gradient(-45deg, #ffa355 0%,#d85c75 100%)
	background: linear-gradient(135deg, #ffa355 0%,#d85c75 100%) #d85c75
	background-image: linear-gradient(136deg, #ffa355 0%,#d85c75 100%) #d85c75
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa355', endColorstr='#d85c75',GradientType=1 )
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background-size: cover
	background-attachment: fixed
	background-repeat: no-repeat
	background-size: 100% 100%
.call-to-action-ghost
	float: right
	width: 200px
	padding: 0
	margin: 0
	margin-right: -15px
	text-align: right
	@include media-breakpoint-down(sm)
		margin: 0
		float: none
		width: 100%
		text-align: center
	img
		width: 60px
	p
		padding: 0 1.5rem
	.btn-default
		width: 190px
		height: 40px
		@include media-breakpoint-up(md)
			border-radius: 1.5rem 0 0 1.5rem
			border-right-color: transparent
.election-calendar-btn-container-desktop
	display: none
	position: absolute
	top: 0
	right: -100px
	@include media-breakpoint-up(md)
		display: block
.election-calendar-btn-container-mobile
	display: none
	position: relative
	top: -70px
	@include media-breakpoint-down(sm)
		display: block
.btn-calendar
	transform: rotate(-12deg)
	border: 7px solid $white
	width: 120px
	height: 120px
	border-radius: 70px
	.text-header
		border-bottom: 1px solid $white
		line-height: 1rem
		.text-top
			font-size: 12px
			padding-right: 12px
		.text-bottom
			font-size: 17px
			font-weight: bold
			letter-spacing: 2px
			padding-left: 12px
			padding-bottom: 6px
	.text-body
		font-size: 20px
		font-weight: 600
		color: $pompadour

.btn-default
	&:hover, &:not([disabled]):not(.disabled):active
		background-color: $pompadour

.unselectable
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
