header
	position: fixed
	top: 0
	z-index: 104
	a
		font-size: 1.3rem
		color: $white
		transition: all 0.3s ease-out
		&:hover
			transition: all 0.2s ease-out
			text-decoration: none
			color: $pompadour
	@include media-breakpoint-down(sm)
		.logo-container
			img
				width: 80px
	.main-menu
		height: 100%
		width: 100%
		overflow-y: scroll
		overflow-x: hidden
		position: fixed
		top: -100%
		-webkit-box-shadow: 0px 4px 52px 4px rgba(0,0,0,0.1)
		-moz-box-shadow: 0px 4px 52px 4px rgba(0,0,0,0.1)
		box-shadow: 0px 4px 52px 4px rgba(0,0,0,0.1)
		background-image: linear-gradient(140deg, #d85c75, #ffa355)
		-webkit-transform: all 0.5s
		-webkit-transition: all 0.5s
		&.open
			top: 0
	.main-menu-toggler-container
		position: absolute
		right: 30px
		top: 30px
		height: 69px
		img
			width: 24px
		.main-menu-close
			img
				width: 22px
		@include media-breakpoint-down(sm)
			width: 100vw
			top: 0
			right: 0
			display: block
			.main-menu-toggler
				padding: 1rem
				float: right
				img
					width: 28px
	.main-menu-container-open
		@include media-breakpoint-down(sm)
			-webkit-box-shadow: 0 -11px 24px rgba(0, 0, 0, .75)
			-moz-box-shadow: 0 -11px 24px rgba(0, 0, 0, .75)
			box-shadow: 0 -11px 24px rgba(0, 0, 0, .75)
			background-color: $squash
			width: 100vw
			top: 0
			right: 0
			display: block
			.main-menu-close
				padding: 1rem
			.main-menu-toggler
				float: right
				img
					width: 20px
		.mobile-logo-img
			padding: 0.6rem
			img
				width: 78px
	.main-menu-logo
		img
			width: 120px
	@include media-breakpoint-up(md)
		.main-menu-list
			border-left: 2px solid $white
	.main-menu-list
		li
			list-style: none
			line-height: 2.82rem
			padding: 5px
	h6, .footer-link
		font-size: 1rem
