// ** COLORS **
$black: #000000
$white: #FFF
$white_transparent: #FFFFFF00
$color_cinderella: #FDE4DC
$color_neon_carrot: #f99C44
$color_radical_red: #f03D6c
$color_ebony_clay: #262B48
$orange: #F8965B
$black_8: rgba(0, 0, 0, 0.08)
$black_30: rgba(0, 0, 0, 0.30)
$white_30: rgba(255, 255, 255, 0.30)
$light-pink: #FDE9ED
$lighter-pink: #FDE9ED80
$light-mauve: #D7AECD
$color_turbo: #FBE106
$color_star_dust: #A39F9E

// dark purple
$pompadour: #601D51
$pompadour_light: #703463

$yellow: #F5A623
$yellow_30: #F5A623CC


// ** FONTS **
$font_0: 'Open Sans', sans-serif
$font_1: 'Caveat'
