// ** COLORS **
$black: #000000
$white: #FFF
$white_transparent: #FFFFFF00
$color_cinderella: #FDE4DC
$color_neon_carrot: #f99C44
$color_radical_red: #f03D6c
$color_ebony_clay: #262B48
$orange: #F8965B
$black_8: rgba(0, 0, 0, 0.08)
$black_30: rgba(0, 0, 0, 0.30)
$white_30: rgba(255, 255, 255, 0.30)
$white_20: rgba(255, 255, 255, 0.20)
$light-pink: #FDE9ED
$lighter-pink: #FDE9ED80
$light-mauve: #D7AECD
$color_turbo: #FBE106
$color_star_dust: #A39F9E

// purple
$pompadour: #601D51
$pompadour_light: #703463
$pompadour_lighter: #E0AAD4

$yellow: #F5A623
$yellow_30: #F5A623CC
$squash: #F5985C


// ** FONTS **
$font_0: 'Open Sans', sans-serif
$font_1: 'Caveat'

// $font-weight-light:           300
// $font-weight-normal:          400
// $font-weight-bold:            700
//
// .font-weight-light
//   font-weight: $font-weight-light !important
// .font-weight-normal
//   font-weight: $font-weight-normal !important
// .font-weight-bold
//   font-weight: $font-weight-bold !important
