<%= link_to calendar_path, class: 'mx-auto btn btn-yellow btn-calendar d-flex' do %>
  <div class="btn-wrapper d-flex flex-column m-auto">
    <div class="text-header">
      <div class="text-top"> NÄCHSTE </div>
      <div class="text-bottom"> WAHL </div>
    </div>
    <div class="text-body">
      <%= "#{@last_election.datetime.month}.#{@last_election.datetime.day}" %>
    </div>
  </div>
<% end %>
