<%= link_to calendar_path, class: 'mx-auto btn btn-yellow btn-calendar d-flex' do %>
  <div class="btn-wrapper d-flex flex-column m-auto">
    <div class="text-header">
      <div class="text-top"> NÄCHSTE </div>
      <div class="text-bottom"> WAHL IN NRW </div>
    </div>
    <div class="text-body">
      <div class="text-body"> <%= @comming_event.date %> </div>
    </div>
  </div>
<% end %>
