<div class="why-box-container why-section-video col-12 row container no-gutters">
  <a class="anchor-tag" name="why-section"></a>
  <%= react_component(
    'EkoSectionVideo',
    videoId: 'IrzE9qWycKk'
  ) %>
</div>
