<div class="how-box-container how-section-video">
  <a class="anchor-tag" name="how-section"></a>
  <%= react_component(
    'HowSectionVideo',
    videoId: 'Hj06dznX1g8',
    startTime: 2
  ) %>
</div>
