<div class="how-box-container row h-100">
  <div class="how-description pl-5 m-auto text-center">
    <h2 class="py-5">WIE GEHT <span class="color-call-to-action">WÄHLEN?</span></h2>
    <ul class="text-left w-50">
      <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</li>
      <li>sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</li>
      <li>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</li>
    </ul>
    <div class="video-play">
      Play Video
    </div>
  </div>

</div>
