<div class="what-box-container h-100 d-flex">
  <div class="row no-gutters p-0 mx-auto">
    <div class="election-calendar-btn-container-mobile mx-auto">
      <%= render 'calendar_link' %>
    </div>
    <div class="row col-lg-9 col-md-12 no-gutters m-auto">
      <div class="what-description col-lg-8 col-md-10 col-sm-12 mx-auto mt-5 py-5 text-center">
        <div class="election-calendar-btn-container-desktop mx-auto">
          <%= render 'calendar_link' %>
        </div>
        <h2 class="pb-3"> WAS PASSIERT <br />AKTUELL IN DER POLITIK? </h2>
        <p class="col-lg-10 m-auto mt-5">
          Sieh dir die letzten Abstimmungen <br />aus dem Bundestag an.
        </p>
      </div>
      <div class="political-agreements-container row no-gutters col-12">
        <%- @political_agreements.each do |political_agreement| %>
          <%= render 'political_agreement', political_agreement: political_agreement %>
        <% end %>
      </div>
    </div>
  </div>
</div>
