<div class="wrapper row h-100">
  <div class="who-description col-lg-3 col-8 mx-auto pt-5 d-flex no-gutters">
    <div class="mx-auto">
      <div class="d-sm-block d-xs-block d-md-none text-center">
        <h3>Wen soll ich w채hlen?</h3>
      </div>
      <div class="d-none d-md-block d-lg-block pt-5 ml-5">
        <h3 class="mr-5">Wen soll ich w채hlen?</h2>
        <p class="text-left">W채hle ein Thema aus, um herauszufinden, wie die einzlenen Parteien dem Thema gegen체ber stehen</p>
        <p>
          <%= image_tag(asset_pack_path('images/icon-info.svg')) %>
        </p>
      </div>
    </div>
  </div>
  <div class="election-programs col-lg-6 col-md-12 h-100 no-gutters p-0">
    <%= react_component(
      'ElectionPrograms',
      topics: @election_programs.map(&:to_h))
      %>
  </div>
  <div class="ghost-container col-lg-3 d-flex">
    <div class="align-self-end w-100 py-5">
      <%= react_component( 'CallToActionGhost' ) %>
    </div>
  </div>
</div>
