<div class="who-sections-wrapper col-12 row container no-gutters p-0">
  <a class="anchor-tag" name="who-section"></a>
  <div class="who-description col-lg-3 col-8 mx-auto pt-5 d-flex no-gutters">
    <div class="mx-auto">
      <div class="d-sm-block d-xs-block d-md-none text-center">
        <h3>Wen soll ich wählen?</h3>
      </div>
      <div class="d-none d-md-block d-lg-block pt-5 ml-5">
        <h3 class="mr-5">Wen soll ich wählen?</h2>
        <p class="text-left">Wähle ein Thema aus, um herauszufinden, wie die einzelnen Parteien Fragen zu dem Thema gegenüber stehen.</p>
        <p>
          <%= image_tag(asset_pack_path('images/icon-info.svg')) %>
        </p>
      </div>
    </div>
  </div>
  <div class="election-programs col-lg-6 col-md-12 h-100 no-gutters p-0">
    <%= react_component(
      'ElectionPrograms',
      topics: @election_programs.map(&:to_h))
      %>
  </div>
  <div class="ghost-container col-lg-3 d-flex">
    <div class="align-self-end w-100 py-5">
      <%= react_component( 'CallToActionGhost',
        text: 'Buh! Du kennst einen Begriff nicht?',
        buttonText: 'Wörterbuch',
        link: glossary_path
        ) %>
    </div>
  </div>
</div>
