<div class="row h-100">
  <div class="who-description col-lg-3 col-md-12 pt-5 pl-5 d-flex no-gutters">
    <div class="my-auto">
      <h2>Wen soll ich w채hlen?</h2>
      <p>W채hle ein Thema aus, um herauszufinden, wie die einzlenen Parteien dem Thema gegen체ber stehen</p>
      <p>
        <%= image_tag(asset_pack_path('images/icon-info.svg')) %>
      </p>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 h-100 no-gutters p-0">
    <%= react_component(
      'ElectionPrograms',
      topics: @election_programs.map(&:to_h))
      %>
  </div>
  <div class="col-lg-3 d-lg-flex d-md-flex d-none">
    <div class="more-apps align-self-end w-100 py-5">
      <div class="ghost-container">
        <img src="/ghost.svg" />
        <p>Noch nicht sicher, wen du w채hlen sollst?</p>
      </div>
      <a class="btn btn-default px-4 py-2 mt-4" href="#">Mehr Wahl-Apps</a>
    </div>
  </div>
</div>
