<div class="why-box-container row h-100">
  <div class="why-description pl-5 p-5 text-left">
    <h2 class="py-5"> WARUM <span class="color-call-to-action">WÄHLEN?</span></h2>
    <p class="text-left w-50"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.  </p>

    <div class="video-play">
      Play Video
    </div>
  </div>

</div>
