<%- page_title('IMPRESSUM') %>
<div class="dataprotection-container gradient-content">
  <div class="dataprotection-wrapper background-corner">
    <div class="imprint container-fluid">
      <h1 class="main-title text-center">
        Datenschutzerklärung
      </h1>
      <div class="container-fluid col-lg-6 col-md-10 col-sm-12 mx-auto p-0 py-5">
        <div class="row col-12 mx-0 my-5 p-0">
          <div class="col-12 font-weight-light">
            <p>
              Verantwortliche Stelle im Sinne der Datenschutzgesetze,<br />
              insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist:
            </p>
            <p>
              Lajendäcker, Kus, Wahl.Daten.Helfer GbR<br />
              Lindenstr.75 <br />
              50674 Köln <br />
              Deutschland<br />
            </p>


            <h4>IHRE BETROFFENENRECHTE</h4>
            <p>Unter den angegebenen Kontaktdaten unseres<br />
            Datenschutzbeauftragten können Sie jederzeit folgende Rechte ausüben:</p>
            <ul>
              <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung,</li>
              <li>Berichtigung unrichtiger personenbezogener Daten,</li>
              <li>Löschung Ihrer bei uns gespeicherten Daten,</li>
              <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen,</li>
              <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns und</li>
              <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben. </li>
            </ul>
            <p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft widerrufen.</p>
            <p>Sie können sich jederzeit mit einer Beschwerde an die für Sie
              zuständige Aufsichtsbehörde wenden.
              Ihre zuständige Aufsichtsbehörde richtet sich nach dem Bundesland Ihres Wohnsitzes,
              Ihrer Arbeit oder der mutmaßlichen Verletzung.<br />
              Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter:<br />
              <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank">bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>
            </p>

            <h4>ZWECKE DER DATENVERARBEITUNG DURCH DIE VERANTWORTLICHE STELLE UND DRITTE</h4>
            <p> Wir verarbeiten Ihre personenbezogenen Daten nur zu den in dieser Datenschutzerklärung genannten Zwecken.
              Eine Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den genannten Zwecken findet nicht statt.
              Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:
            </p>
            <ul>
              <li>Sie Ihre ausdrückliche Einwilligung dazu erteilt haben,</li>
              <li>die Verarbeitung zur Abwicklung eines Vertrags mit Ihnen</li>
              erforderlich ist,
              <li>die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung
              erforderlich ist,</li>
            </ul>
            <p>die Verarbeitung zur Wahrung berechtigter Interessen erforderlich ist und kein Grund zur Annahme besteht,
              dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben.
            </p>

            <h4>LÖSCHUNG BZW. SPERRUNG DER DATEN</h4>
            <p>Wir halten uns an die Grundsätze der Datenvermeidung und Datensparsamkeit. Wir speichern Ihre personenbezogenen Daten daher nur so lange,
              wie dies zur Erreichung der hier genannten Zwecke erforderlich ist oder wie es die vom Gesetzgeber vorgesehenen vielfältigen Speicherfristen vorsehen.
              Nach Fortfall des jeweiligen Zweckes bzw.
              Ablauf dieser Fristen werden die entsprechenden Daten routinemäßig und entsprechend den gesetzlichen Vorschriften gesperrt oder gelöscht.
            </p>

            <h4>ERFASSUNG ALLGEMEINER INFORMATIONEN</h4>
            <p>Wenn Sie auf unsere Websites zugreifen, werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen beinhalten etwa die Art des verwendeten Webbrowsers,
              das verwendete Betriebssystem, den Domainnamen Ihres Internet Service Providers und ähnliches. Es handelt sich hier ausschließlich um Informationen,
              welche keine Rückschlüsse auf Ihre Person zulassen. Zudem werden diese Daten ebenso beim Zugriff auf jede andere Website im Internet generiert.
              Es handelt sich also nicht um eine besondere Funktion unserer Website. Die derart erhobenen Informationen werden von uns statistisch ausgewertet.
            </p>

            <h4>UMGANG MIT IHREN PERSÖNLICHEN DATEN</h4>
            <p>Wir gehen nur mit personenbezogenen Daten um, soweit dies im Einklang mit datenschutzrechtlichen Bestimmungen möglich ist.
              Wir sind dabei auch um alle notwendigen, technischen und organisatorischen Sicherheitsmaßnahmen bemüht,
              um Ihre personenbezogenen Daten jederzeit angemessen vor unberechtigtem Zugang und Missbrauch zu schützen.
            </p>

            <h4>COOKIES</h4>
            <p>Wie viele andere Webseiten verwenden wir auch so genannte „Cookies“. Cookies sind kleine Textdateien, die von einem Websiteserver auf Ihre Festplatte übertragen werden.
              Hierdurch erhalten wir automatisch bestimmte Daten wie z. B. IP-Adresse, verwendeter Browser, Betriebssystem und Ihre Verbindung zum Internet.
              Cookies können nicht verwendet werden, um Programme zu starten oder Viren auf einen Computer zu übertragen.
              Anhand der in Cookies enthaltenen Informationen können wir Ihnen die Navigation erleichtern und die korrekte Anzeige unserer Webseiten ermöglichen.
              In keinem Fall werden die von uns erfassten Daten an Dritte weitergegeben oder ohne Ihre Einwilligung eine Verknüpfung mit personenbezogenen Daten hergestellt.
              Natürlich können Sie unsere Website grundsätzlich auch ohne Cookies betrachten. Internet-Browser sind regelmäßig so eingestellt, dass sie Cookies akzeptieren.
              Im Allgemeinen können Sie die Verwendung von Cookies jederzeit über die Einstellungen
              Ihres Browsers deaktivieren. Bitte verwenden Sie die Hilfefunktionen Ihres Internetbrowsers,
              um zu erfahren, wie Sie diese Einstellungen ändern können. Bitte beachten Sie,
              dass einzelne Funktionen unserer Website möglicherweise nicht funktionieren,
              wenn Sie die Verwendung von Cookies deaktiviert haben.
            </p>

            <h4>KONTAKTFORMULAR</h4>
            <p>
              Treten Sie bzgl. Fragen jeglicher Art per E-Mail oder Kontaktformular mit uns in Kontakt, erteilen Sie uns zum Zwecke der Kontaktaufnahme Ihre freiwillige Einwilligung.
              Hierfür ist die Angabe einer validen E-Mail-Adresse erforderlich. Diese dient der Zuordnung der Anfrage und der anschließenden Beantwortung derselben.
              Die Angabe weiterer Daten ist optional. Die von Ihnen gemachten Angaben werden zum Zwecke der Bearbeitung der Anfrage sowie für mögliche Anschlussfragen gespeichert.
              Nach Erledigung der von Ihnen gestellten Anfrage werden personenbezogene Daten automatisch gelöscht.
            </p>

            <h4>VERWENDUNG VON GOOGLE ANALYTICS</h4>
            <p>
              Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. (folgend: Google). Google Analytics verwendet sog. „Cookies“,
              also Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Webseite durch Sie ermöglichen.
              Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite werden in der Regel an einen
              Server von Google in den USA übertragen und dort gespeichert. Aufgrund der Aktivierung der IP-Anonymisierung auf diesen Webseiten,
              wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des
              Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von
              Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen,
              um Ihre Nutzung der Webseite auszuwerten, um Reports über die Webseitenaktivitäten zusammenzustellen und um weitere mit der Websitenutzung
              und der Internetnutzung verbundene Dienstleistungen gegenüber dem Webseitenbetreiber zu erbringen.
              Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
            </p>
            <p>
              Die Zwecke der Datenverarbeitung liegen in der Auswertung der Nutzung der Website und in der Zusammenstellung von Reports über Aktivitäten auf der Website.
              Auf Grundlage der Nutzung der Website und des Internets sollen dann weitere verbundene Dienstleistungen erbracht werden.
              Die Verarbeitung beruht auf dem berechtigten Interesse des Webseitenbetreibers.
            </p>
            <p>
              Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website
              vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf
              Ihre Nutzung der Webseite bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern,
              indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <br />
              <a href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank"> Browser Add On zur Deaktivierung von Google Analytics</a>.<br/>
            </p>
            <p>
              Zusätzlich oder als Alternative zum Browser-Add-On können Sie das Tracking durch Google Analytics auf unseren Seiten unterbinden,
              indem Sie <a href="https://www.activemind.de/datenschutz/datenschutzhinweis-generator/ergebnis/">diesen Link anklicken.</a> <br />
              Dabei wird ein Opt- Out-Cookie auf Ihrem Gerät installiert.<br/> Damit wird die Erfassung durch Google Analytics für diese Website und für diesen Browser zukünftig verhindert,
              so lange das Cookie in Ihrem Browser installiert bleibt.
            </p>

            <h4>VERWENDUNG VON SCRIPTBIBLIOTHEKEN (GOOGLE WEBFONTS)</h4>
            <p>
              Um unsere Inhalte browserübergreifend korrekt und grafisch ansprechend darzustellen,
              verwenden wir auf dieser Website Scriptbibliotheken und Schriftbibliotheken wie z. B.
              Google Webfonts (<a href="https://www.google.com/webfonts/">google.com/webfonts/</a>).
              Google Webfonts werden zur Vermeidung mehrfachen Ladens in den Cache Ihres Browsers übertragen. Falls der Browser die Google Webfonts nicht unterstützt oder den Zugriff unterbindet,
              werden Inhalte in einer Standardschrift angezeigt.
            </p>
            <p>
              Der Aufruf von Scriptbibliotheken oder Schriftbibliotheken löst automatisch eine Verbindung zum Betreiber der Bibliothek aus.
              Dabei ist es theoretisch möglich – aktuell allerdings auch unklar ob und ggf.
              zu welchen Zwecken – dass Betreiber entsprechender Bibliotheken Daten erheben.
            </p>
            <p>
              Die Datenschutzrichtlinie des Bibliothekbetreibers Google finden Sie hier: <a href="https://www.google.com/policies/privacy/">google.com/policies/privacy/</a>
            </p>

            <h4>EINGEBETTETE YOUTUBE-VIDEOS</h4>
            <p>
              Auf einigen unserer Webseiten betten wir Youtube-Videos ein. Betreiber der entsprechenden Plugins ist die YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA.
              Wenn Sie eine Seite mit dem YouTube-Plugin besuchen, wird eine Verbindung zu Servern von Youtube hergestellt.
              Dabei wird Youtube mitgeteilt, welche Seiten Sie besuchen. Wenn Sie in Ihrem Youtube-Account eingeloggt sind, kann Youtube Ihr Surfverhalten Ihnen persönlich zuzuordnen.
              Dies verhindern Sie, indem Sie sich vorher aus Ihrem Youtube-Account ausloggen.
            </p>
            <p>
              Wird ein Youtube-Video gestartet, setzt der Anbieter Cookies ein, die Hinweise über das Nutzerverhalten sammeln.
            </p>
            <p>
              Wer das Speichern von Cookies für das Google-Ad-Programm deaktiviert hat, wird auch beim Anschauen von Youtube-Videos mit keinen solchen Cookies rechnen müssen.
              Youtube legt aber auch in anderen Cookies nicht-personenbezogene Nutzungsinformationen ab.
              Möchten Sie dies verhindern, so müssen Sie das Speichern von Cookies im Browser blockieren.
            </p>
            <p>
              Weitere Informationen zum Datenschutz bei „Youtube“ finden Sie in der Datenschutzerklärung des Anbieters unter:
              <a href="https://www.google.de/intl/de/policies/privacy/">google.de/intl/de/policies/privacy/</a>
            </p>

            <h4>ÄNDERUNG UNSERER DATENSCHUTZBESTIMMUNGEN</h4>
            <p>
              Wir behalten uns vor, diese Datenschutzerklärung anzupassen,
              damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder um
              Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei der Einführung neuer Services.
              Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.
            </p>

            <h4>FRAGEN AN DEN DATENSCHUTZBEAUFTRAGTEN</h4>
            <p>
              Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die für den Datenschutz verantwortliche Person in unserer Organisation: <br /> <br />
              Tatjana Lajendäcker <br />
              <a href="mailto:tatjana@railslove.com">tatjana@railslove.com</a>
            </p>
            <p>
              Die Datenschutzerklärung wurde mit dem <a href="https://www.activemind.de/datenschutz/datenschutzhinweis-generator/">Datenschutzerklärungs- Generator der activeMind AG erstellt.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
