<div>
  <div class="logo-container p-4">
    <%= link_to root_path do %>
      <img src='/wahl-daten-helfer-logo.svg' />
    <%- end %>
  </div>
  <div class="text-center">
    <h1 class="pb-5">
      WAHL-APPS
    </h1>
    <p class="w-50 mx-auto text-center">Was steckt eigentlich hinter den ganzen politischen Wörtern? <br /> Schau selbst nach!</p>
  </div>
  <%= react_component(
    'ElectionApps',
    appsCategories: @apps_categories.to_h) %>
</div>
