<%- page_title('GLOSSAR') %>
<div class="glossary-container h-100 clearfix">
  <div class="logo-container p-2">
    <%= link_to image_tag(asset_pack_path('images/wahl-daten-helfer-logo.svg')), :root %>
  </div>
  <div class="text-center">
    <h1 class="main-title pb-3 pt-4">
      GLOSSAR
    </h1>
    <p class="col-lg-3 mx-auto text-center p-0 pb-3 mb-5 fonr-weight-light">Was steckt eigentlich hinter den ganzen politischen Wörtern? Schau selbst nach!</p>
  </div>
  <%= react_component(
    'Glossary',
    lettersCollection: @terms.to_h) %>
      <div class="more-apps">
        <%= render '/shared/more_apps' %>
      </div>
</div>
