<div id="fullpage">
  <div id="whyBox" class="section why-section" data-anchor="why-section">
    <%= render 'why_section' %>
  </div>
  <div id="whoBox" class="section who-section" data-anchor="who-section">
    <%= render 'who_section' %>
  </div>
  <div id="howBox" class="section how-section" data-anchor="how-section">
    <%= render 'how_section' %>
  </div>
  <div id="whatBox" class="section what-section active" data-anchor="what-section">
   <%= render 'what_section' %>
  </div>
</div>
