<div id="fullpage">
 <div id='whoBox' class="section active">
   <%= render 'who_box' %>
 </div>
 <div class="section bg-warning">
   <a class='btn btn-primary'href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>
 </div>
 <div class="section bg-info">Some section</div>
 <div class="section bg-danger">
   <div id="wahldatenhelfer_component" class="container"> </div>
 </div>
<%=render 'shared/footer' %>
<%= javascript_pack_tag 'wahldatenhelfer_component' %>
</div>
