<%- page_title('IMPRESSUM') %>
<div class="imprint-container gradient-content">
  <div class="imprint-wrapper background-corner">
    <div class="logo-container p-2 d-none d-lg-block d-md-block">
      <%= link_to image_tag(asset_pack_path('images/wahlgenial-logo.svg')), :root %>
    </div>
    <div class="imprint container-fluid">
      <h1 class="main-title text-center">
        IMPRESSUM
      </h1>

      <div class="container-fluid col-lg-6 col-md-10 col-sm-12 mx-auto p-0 py-5">
        <div class="row col-12 mx-0 my-4 p-0">
          <div class="col-md-3 font-weight-bold">Kontakt</div>
          <div class="col-md-9 font-weight-light">
            Lajendäcker, Kus, Wahl.Daten.Helfer GbR <br />
            Lindenstr.75 <br />
            50674 Köln <br />
          </div>
        </div>
        <div class="row col-12 mx-0 my-4 p-0">
          <div class="col-md-3 font-weight-bold">Inhalte</div>
          <div class="col-md-9 font-weight-light">
            Inhaltlich Verantwortliche gemaess TMG und Paragraph 55 Abs. 2 RStV: Lajendäcker, Kus, Wahl.Daten.Helfer GbR (Anschrift wie oben)
            Haftungshinweis: Trotz sorgfaeltiger inhaltlicher Kontrolle uebernehmen wir keine Haftung fuer die Inhalte externer Links. Fuer den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich.
          </div>
        </div>
        <div class="row col-12 mx-0 my-4 p-0">
          <div class="col-md-3 font-weight-bold">Icons</div>
          <div class="col-md-9 font-weight-light">
            <h6>Icons from thenounproject.com</h6>
            Germany by <a href="https://thenounproject.com/icon/1439868/">Andrejs Kirma</a><br />
            Surprised Ghost by <a href="https://thenounproject.com/icon/213100/">Elena Rimeikaite</a><br />
            Sad by <a href="https://thenounproject.com/icon/174694/">Daouna Jeong</a><br />
            Happy by <a href="https://thenounproject.com/daouna/collection/emoji/?i=174693/">Daouna Jeong</a><br />
            Neutral by <a href="https://thenounproject.com/daouna/collection/emoji/?i=174692/">Daouna Jeong</a><br />
            Ballot Box by <a href="https://thenounproject.com/icon/989829/">Creative Mania</a><br />
            Questions And Answers by <a href="https://thenounproject.com/icon/596002/">Lucas Glenn</a><br />
            Decision Making by <a href="https://thenounproject.com/icon/410852/">Yu luck</a><br />
          </div>
        </div>
        <div class="row col-12 mx-0 my-4 p-0">
          <div class="col-md-3 font-weight-bold">Videos</div>
          <div class="col-md-9 font-weight-light">
            <ul class="p-0 m-0">
              <li> Deutschland vor der Wahl by <a href="https://www.youtube.com/channel/UChr1sKJ27Fr6WZxAlusbo_w">Felix von der Laden</a> </li>
              <li> Ahnungslos - Wie funktionieren Wahlen? by <br/><a href="https://www.youtube.com/channel/UCKE_un0UNf7F_gYc_C_Yndw">Bundeszentrale für politische Bildung/bpb</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
