<%- page_title('IMPRESSUM') %>
<div class="imprint-container">
  <div class="logo-container p-2 d-none d-lg-block d-md-block">
    <%= link_to image_tag(asset_pack_path('images/wahl-daten-helfer-logo.svg')), :root %>
  </div>
  <div class="imprint container-fluid">
    <h1 class="main-title text-center">
      IMPRESSUM
    </h1>

    <div class="container-fluid col-lg-5 col-md-10 col-sm-12 mx-auto p-0 mt-5">
      <div class="row col-12 mx-0 my-4 p-0">
        <div class="col-3 font-weight-bold">Kontakt</div>
        <div class="col-9 font-weight-light">
          An der Bottmuehle 5 <br />
          50678 Cologne <br />
          Germany <br />
          +49 221 20 533 573 <br />
          kontakt@railslove.com <br />
          Registergericht: Amtsgericht Koeln, HRB 70843
          Geschaeftsfuehrer: Jan Kus, Tim Schneider
          USt-IdNr DE274920549
        </div>
      </div>
      <div class="row col-12 mx-0 my-4 p-0">
        <div class="col-3 font-weight-bold">Inhalte</div>
        <div class="col-9 font-weight-light">
          Inhaltlich Verantwortliche gemaess TMG und Paragraph 55 Abs. 2 RStV: Railslove GmbH (Anschrift wie oben)
          Haftungshinweis: Trotz sorgfaeltiger inhaltlicher Kontrolle uebernehmen wir keine Haftung fuer die Inhalte externer Links. Fuer den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich.
        </div>
      </div>
      <div class="row col-12 mx-0 my-4 p-0">
        <div class="col-3 font-weight-bold">Icons</div>
        <div class="col-9 font-weight-light">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
      </div>
    </div>
  </div>
</div>
