<%- page_title('IMPRESSUM') %>
<div class="imprint-container gradient-content">
  <div class="imprint-wrapper background-corner">
    <div class="logo-container p-2 d-none d-lg-block d-md-block">
      <%= link_to image_tag(asset_pack_path('images/wahlgenial-logo.svg')), :root %>
    </div>
    <div class="imprint container-fluid">
      <h1 class="main-title text-center">
        IMPRESSUM
      </h1>

      <div class="container-fluid col-lg-6 col-md-10 col-sm-12 mx-auto p-0 py-5">
        <div class="row col-12 mx-0 my-4 p-0">
          <div class="col-md-3 font-weight-bold">Kontakt</div>
          <div class="col-md-9 font-weight-light">
            Lajendäcker, Kus, Wahl.Daten.Helfer GbR <br />
            Lindenstr.75 <br />
            50674 Köln <br />
          </div>
        </div>
        <div class="row col-12 mx-0 my-4 p-0">
          <div class="col-md-3 font-weight-bold">Inhalte</div>
          <div class="col-md-9 font-weight-light">
            Inhaltlich Verantwortliche gemaess TMG und Paragraph 55 Abs. 2 RStV: Lajendäcker, Kus, Wahl.Daten.Helfer GbR (Anschrift wie oben)
            Haftungshinweis: Trotz sorgfaeltiger inhaltlicher Kontrolle uebernehmen wir keine Haftung fuer die Inhalte externer Links. Fuer den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich.
          </div>
        </div>
        <div class="row col-12 mx-0 my-4 p-0">
          <div class="col-md-3 font-weight-bold">Icons</div>
          <div class="col-md-9 font-weight-light">
            <h6>Icons from thenounproject.com</h6>
            Germany by <a href="https://thenounproject.com/icon/1439868/">Andrejs Kirma</a><br />
            Surprised Ghost by <a href="https://thenounproject.com/icon/213100/">Elena Rimeikaite</a><br />
            Sad by <a href="https://thenounproject.com/icon/174694/">Daouna Jeong</a><br />
            Happy by <a href="https://thenounproject.com/daouna/collection/emoji/?i=174693/">Daouna Jeong</a><br />
            Neutral by <a href="https://thenounproject.com/daouna/collection/emoji/?i=174692/">Daouna Jeong</a><br />
            Ballot Box by <a href="https://thenounproject.com/icon/989829/">Creative Mania</a><br />
            Questions And Answers by <a href="https://thenounproject.com/icon/596002/">Lucas Glenn</a><br />
            Decision Making by <a href="https://thenounproject.com/icon/410852/">Yu luck</a><br />
          </div>
        </div>
        <div class="row col-12 mx-0 my-4 p-0">
          <div class="col-md-3 font-weight-bold">Videos</div>
          <div class="col-md-9 font-weight-light">
            <ul class="p-0 m-0">
              <li>
                Deutschland vor der Wahl - ZDF Doku #FelixFragt (2017) mit <a href="https://www.youtube.com/channel/UChr1sKJ27Fr6WZxAlusbo_w" target="_blank">Felix von der Laden</a> <br/>
                Link: <a href="https://www.youtube.com/watch?time_continue=632&v=poWw_rrEf8s" target="_blank">https://www.youtube.com/watch?time_continue=632&v=poWw_rrEf8s</a>
              </li>
              <li>
                Ahnungslos - Wie funktionieren Wahlen? von der <br/><a href="https://www.youtube.com/channel/UCKE_un0UNf7F_gYc_C_Yndw" target="_blank">Bundeszentrale für politische Bildung/bpb</a> <br/>
                Link: <a href="https://www.youtube.com/watch?time_continue=4&v=Hj06dznX1g8" target="_blank">https://www.youtube.com/watch?time_continue=4&v=Hj06dznX1g8</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row col-12 mx-0 my-5 p-0">
          <div class="col-12 font-weight-bold pb-4">Datenschutzerklärung</div>
          <div class="col-12 font-weight-light">
            <p> Wir freuen uns sehr über Ihr Interesse an unserem Unternehmen. Datenschutz hat einen besonders hohen Stellenwert für die Geschäftsleitung der Lajendäcker, Kus, Wahl.Daten.Helfer GbR. Eine Nutzung der Internetseiten der Lajendäcker, Kus, Wahl.Daten.Helfer GbR ist grundsätzlich ohne jede Angabe personenbezogener Daten möglich. Sofern eine betroffene Person besondere Services unseres Unternehmens über unsere Internetseite in Anspruch nehmen möchte, könnte jedoch eine Verarbeitung personenbezogener Daten erforderlich werden. Ist die Verarbeitung personenbezogener Daten erforderlich und besteht für eine solche Verarbeitung keine gesetzliche Grundlage, holen wir generell eine Einwilligung der betroffenen Person ein. </p>
            <p> Die Verarbeitung personenbezogener Daten, beispielsweise des Namens, der Anschrift, E-Mail-Adresse oder Telefonnummer einer betroffenen Person, erfolgt stets im Einklang mit der Datenschutz-Grundverordnung und in Übereinstimmung mit den für die Lajendäcker, Kus, Wahl.Daten.Helfer GbR geltenden landesspezifischen Datenschutzbestimmungen. Mittels dieser Datenschutzerklärung möchte unser Unternehmen die Öffentlichkeit über Art, Umfang und Zweck der von uns erhobenen, genutzten und verarbeiteten personenbezogenen Daten informieren. Ferner werden betroffene Personen mittels dieser Datenschutzerklärung über die ihnen zustehenden Rechte aufgeklärt. </p>
            <p> Die Lajendäcker, Kus, Wahl.Daten.Helfer GbR hat als für die Verarbeitung Verantwortlicher zahlreiche technische und organisatorische Maßnahmen umgesetzt, um einen möglichst lückenlosen Schutz der über diese Internetseite verarbeiteten personenbezogenen Daten sicherzustellen. Dennoch können Internetbasierte Datenübertragungen grundsätzlich Sicherheitslücken aufweisen, sodass ein absoluter Schutz nicht gewährleistet werden kann. Aus diesem Grund steht es jeder betroffenen Person frei, personenbezogene Daten auch auf alternativen Wegen, beispielsweise telefonisch, an uns zu übermitteln. </p>
               <ol class="p-0 m-0" start="1">
                  <li>
                    <h6>Begriffsbestimmungen</h6>
                      Die Datenschutzerklärung der Lajendäcker, Kus, Wahl.Daten.Helfer GbR beruht auf den Begrifflichkeiten, die durch den Europäischen Richtlinien- und Verordnungsgeber beim Erlass der Datenschutz-Grundverordnung (DS-GVO) verwendet wurden. Unsere Datenschutzerklärung soll sowohl für die Öffentlichkeit als auch für unsere Kunden und Geschäftspartner einfach lesbar und verständlich sein. Um dies zu gewährleisten, möchten wir vorab die verwendeten Begrifflichkeiten erläutern. <br/>
                      Wir verwenden in dieser Datenschutzerklärung unter anderem die folgenden Begriffe:
                      <ol ol type="a" class="mt-4">
                        <li>
                          <h6>personenbezogene Daten</h6>
                          Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden „betroffene Person”) beziehen. Als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind, identifiziert werden kann.
                        </li>
                        <li>
                          <h6>betroffene Person</h6>
                          Betroffene Person ist jede identifizierte oder identifizierbare natürliche Person, deren personenbezogene Daten von dem für die Verarbeitung Verantwortlichen verarbeitet werden.
                        </li>
                        <li>
                          <h6>Verarbeitung</h6>
                          Verarbeitung ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung, das Löschen oder die Vernichtung.
                        </li>
                        <li>
                          <h6>Einschränkung der Verarbeitung</h6>
                          Einschränkung der Verarbeitung ist die Markierung gespeicherter personenbezogener Daten mit dem Ziel, ihre künftige Verarbeitung einzuschränken.
                        </li>
                        <li>
                          <h6>Profiling</h6>
                          Profiling ist jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin besteht, dass diese personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte, die sich auf eine natürliche Person beziehen, zu bewerten, insbesondere, um Aspekte bezüglich Arbeitsleistung, wirtschaftlicher Lage, Gesundheit, persönlicher Vorlieben, Interessen, Zuverlässigkeit, Verhalten, Aufenthaltsort oder Ortswechsel dieser natürlichen Person zu analysieren oder vorherzusagen.
                        </li>
                        <li>
                          <h6>Pseudonymisierung</h6>
                          Pseudonymisierung ist die Verarbeitung personenbezogener Daten in einer Weise, auf welche die personenbezogenen Daten ohne Hinzuziehung zusätzlicher Informationen nicht mehr einer spezifischen betroffenen Person zugeordnet werden können, sofern diese zusätzlichen Informationen gesondert aufbewahrt werden und technischen und organisatorischen Maßnahmen unterliegen, die gewährleisten, dass die personenbezogenen Daten nicht einer identifizierten oder identifizierbaren natürlichen Person zugewiesen werden.
                        </li>
                        <li>
                          <h6>Verantwortlicher oder für die Verarbeitung Verantwortlicher</h6>
                          Verantwortlicher oder für die Verarbeitung Verantwortlicher ist die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet. Sind die Zwecke und Mittel dieser Verarbeitung durch das Unionsrecht oder das Recht der Mitgliedstaaten vorgegeben, so kann der Verantwortliche beziehungsweise können die bestimmten Kriterien seiner Benennung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten vorgesehen werden.
                        </li>
                        <li>
                          <h6>Auftragsverarbeiter</h6>
                          Auftragsverarbeiter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die personenbezogene Daten im Auftrag des Verantwortlichen verarbeitet.
                        </li>
                        <li>
                          <h6>Empfänger</h6>
                          Empfänger ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, der personenbezogene Daten offengelegt werden, unabhängig davon, ob es sich bei ihr um einen Dritten handelt oder nicht. Behörden, die im Rahmen eines bestimmten Untersuchungsauftrags nach dem Unionsrecht oder dem Recht der Mitgliedstaaten möglicherweise personenbezogene Daten erhalten, gelten jedoch nicht als Empfänger.
                        </li>
                        <li>
                          <h6>Dritter</h6>
                          Dritter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle außer der betroffenen Person, dem Verantwortlichen, dem Auftragsverarbeiter und den Personen, die unter der unmittelbaren Verantwortung des Verantwortlichen oder des Auftragsverarbeiters befugt sind, die personenbezogenen Daten zu verarbeiten.
                        </li>
                        <li>
                          <h6>Einwilligung</h6>
                          Einwilligung ist jede von der betroffenen Person freiwillig für den bestimmten Fall in informierter Weise und unmissverständlich abgegebene Willensbekundung in Form einer Erklärung oder einer sonstigen eindeutigen bestätigenden Handlung, mit der die betroffene Person zu verstehen gibt, dass sie mit der Verarbeitung der sie betreffenden personenbezogenen Daten einverstanden ist.
                        </li>
                      </ol>
                  </li>
                  <li>
                    <h6>Name und Anschrift des für die Verarbeitung Verantwortlichen</h6>
                    <p>Verantwortlicher im Sinne der Datenschutz-Grundverordnung, sonstiger in den Mitgliedstaaten der Europäischen Union geltenden Datenschutzgesetze und anderer Bestimmungen mit datenschutzrechtlichem Charakter ist die:</p>
                    <p>
                      Lajendäcker, Kus, Wahl.Daten.Helfer GbR <br/>
                      Lindenstr.75<br/>
                      50674 Köln<br/>
                      Deutschland<br/><br/>
                      Tel.: 0221-239193 <br/>
                      E-Mail: tatjana@railslove.com <br/>
                      Website: http://www.wahlgenial.de/
                    </p>
                  </li>
                  <li>
                    <h6>Cookies</h6>
                    <p>Die Internetseiten der Lajendäcker, Kus, Wahl.Daten.Helfer GbR verwenden Cookies. Cookies sind Textdateien, welche über einen Internetbrowser auf einem Computersystem abgelegt und gespeichert werden.</p>
                    <p>Zahlreiche Internetseiten und Server verwenden Cookies. Viele Cookies enthalten eine sogenannte Cookie-ID. Eine Cookie-ID ist eine eindeutige Kennung des Cookies. Sie besteht aus einer Zeichenfolge, durch welche Internetseiten und Server dem konkreten Internetbrowser zugeordnet werden können, in dem das Cookie gespeichert wurde. Dies ermöglicht es den besuchten Internetseiten und Servern, den individuellen Browser der betroffenen Person von anderen Internetbrowsern, die andere Cookies enthalten, zu unterscheiden. Ein bestimmter Internetbrowser kann über die eindeutige Cookie-ID wiedererkannt und identifiziert werden.</p>
                    <p>Durch den Einsatz von Cookies kann die Lajendäcker, Kus, Wahl.Daten.Helfer GbR den Nutzern dieser Internetseite nutzerfreundlichere Services bereitstellen, die ohne die Cookie-Setzung nicht möglich wären.</p>
                    <p>Mittels eines Cookies können die Informationen und Angebote auf unserer Internetseite im Sinne des Benutzers optimiert werden. Cookies ermöglichen uns, wie bereits erwähnt, die Benutzer unserer Internetseite wiederzuerkennen. Zweck dieser Wiedererkennung ist es, den Nutzern die Verwendung unserer Internetseite zu erleichtern. Der Benutzer einer Internetseite, die Cookies verwendet, muss beispielsweise nicht bei jedem Besuch der Internetseite erneut seine Zugangsdaten eingeben, weil dies von der Internetseite und dem auf dem Computersystem des Benutzers abgelegten Cookie übernommen wird. Ein weiteres Beispiel ist das Cookie eines Warenkorbes im Online-Shop. Der Online-Shop merkt sich die Artikel, die ein Kunde in den virtuellen Warenkorb gelegt hat, über ein Cookie.</p>
                    <p>Die betroffene Person kann die Setzung von Cookies durch unsere Internetseite jederzeit mittels einer entsprechenden Einstellung des genutzten Internetbrowsers verhindern und damit der Setzung von Cookies dauerhaft widersprechen. Ferner können bereits gesetzte Cookies jederzeit über einen Internetbrowser oder andere Softwareprogramme gelöscht werden. Dies ist in allen gängigen Internetbrowsern möglich. Deaktiviert die betroffene Person die Setzung von Cookies in dem genutzten Internetbrowser, sind unter Umständen nicht alle Funktionen unserer Internetseite vollumfänglich nutzbar.</p>
                  </li>
                  <li>
                    <h6>Erfassung von allgemeinen Daten und Informationen</h6>
                    <p>
                      Die Internetseite der Lajendäcker, Kus, Wahl.Daten.Helfer GbR erfasst mit jedem Aufruf der Internetseite durch eine betroffene Person oder ein automatisiertes System eine Reihe von allgemeinen Daten und Informationen. Diese allgemeinen Daten und Informationen werden in den Logfiles des Servers gespeichert. Erfasst werden können die (1) verwendeten Browsertypen und Versionen, (2) das vom zugreifenden System verwendete Betriebssystem, (3) die Internetseite, von welcher ein zugreifendes System auf unsere Internetseite gelangt (sogenannte Referrer), (4) die Unterwebseiten, welche über ein zugreifendes System auf unserer Internetseite angesteuert werden, (5) das Datum und die Uhrzeit eines Zugriffs auf die Internetseite, (6) eine Internet-Protokoll-Adresse (IP-Adresse), (7) der Internet-Service-Provider des zugreifenden Systems und (8) sonstige ähnliche Daten und Informationen, die der Gefahrenabwehr im Falle von Angriffen auf unsere informationstechnologischen Systeme dienen.
                    </p>
                    <p>
                      Bei der Nutzung dieser allgemeinen Daten und Informationen zieht die Lajendäcker, Kus, Wahl.Daten.Helfer GbR keine Rückschlüsse auf die betroffene Person. Diese Informationen werden vielmehr benötigt, um (1) die Inhalte unserer Internetseite korrekt auszuliefern, (2) die Inhalte unserer Internetseite sowie die Werbung für diese zu optimieren, (3) die dauerhafte Funktionsfähigkeit unserer informationstechnologischen Systeme und der Technik unserer Internetseite zu gewährleisten sowie (4) um Strafverfolgungsbehörden im Falle eines Cyberangriffes die zur Strafverfolgung notwendigen Informationen bereitzustellen. Diese anonym erhobenen Daten und Informationen werden durch die Lajendäcker, Kus, Wahl.Daten.Helfer GbR daher einerseits statistisch und ferner mit dem Ziel ausgewertet, den Datenschutz und die Datensicherheit in unserem Unternehmen zu erhöhen, um letztlich ein optimales Schutzniveau für die von uns verarbeiteten personenbezogenen Daten sicherzustellen. Die anonymen Daten der Server-Logfiles werden getrennt von allen durch eine betroffene Person angegebenen personenbezogenen Daten gespeichert.
                    </p>
                  </li>
                  <li>
                    <h6>Kontaktmöglichkeit über die Internetseite</h6>
                    <p>
                      Die Internetseite der Lajendäcker, Kus, Wahl.Daten.Helfer GbR enthält aufgrund von gesetzlichen Vorschriften Angaben, die eine schnelle elektronische Kontaktaufnahme zu unserem Unternehmen sowie eine unmittelbare Kommunikation mit uns ermöglichen, was ebenfalls eine allgemeine Adresse der sogenannten elektronischen Post (E-Mail-Adresse) umfasst. Sofern eine betroffene Person per E-Mail oder über ein Kontaktformular den Kontakt mit dem für die Verarbeitung Verantwortlichen aufnimmt, werden die von der betroffenen Person übermittelten personenbezogenen Daten automa...
                    </p>
                  </li>
                </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
