default: &default
  adapter: postgresql
  encoding: utf-8
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: wahldatenhelfer_dev

test:
  <<: *default
  database: wahldatenhelfer_test

production:
  <<: *default
  database: wahldatenhelfer
