<div>Zurück zur Übersicht</div>

<h1><%= @apps.title %></h1>
<h3><%= @apps.teaser_text %></h3>

<div>
  <li>Stufe: <%= @apps.school_grade %></li>
  <li>Kategorie: </li>
  <li>Geräte: </li>
</div

<div>
  Über die APP
  <%= @apps.description %>
</div>
<div>
<href>Zum Angebot</href>
</div>
