.topicsButtonsWrapper
	margin: 0 auto
	padding: 0
	@include media-breakpoint-up(md)
		background: url('../javascript/images/arc.png') top center no-repeat
		background-size: 100%
	@include media-breakpoint-down(md)
		background: none
.topicsButtonsContainer
	@include media-breakpoint-down(md)
		overflow-x: scroll
		padding: 1rem
	padding: 0
	.btn-primary
		text-transform: uppercase
	@include media-breakpoint-up(sm)
		margin: 0 -200px
		height: 150px
	.btn-container
		@include media-breakpoint-down(sm)
			padding: 0
		padding: 0 8px
	.btn-fat
		min-width: 110px
		height: 40px
		padding: 0 10px
		font-size: 12px
		font-weight: normal
		font-style: normal
		font-stretch: normal
		line-height: 2rem
		letter-spacing: normal
		text-align: center
		color: $white
		letter-spacing: 0.1em
		overflow: hidden
.question-block-wrapper
	font-weight: lighter
	cursor: pointer
	border-bottom: 2px solid $white
	&:hover
		background-color: $white_20
		transition: background-color 0.2s ease-out
	.question-text
		transition: all 0.2s ease-out
		padding-right: 42px
		&:after
			font-size: 32px
			font-weight: 100
			content: url('../javascript/images/icon-drop-down.svg'); width: 22px
			position: absolute
			right: 10px
			top: -10px
			transform: rotate(90deg)
			transition: all 0.2s ease-out
	img
		width: 25px
		overflow: visible
		transition: width 0.2s ease-out

	// active collection
	&.active
		.question-text
			transition: width 0.1s ease-out
			&:after
				transform: rotate(270deg)
				transition: all 0.4s ease-out
		img
			width: 30px

.opinionsContainer
	transition: all 0.4s ease-out
	border-top: 1px solid $white
	.btn-container
		img
			width: 20px
		.btn-yellow
			min-width: 120px
			.party-name
				float: left
			.party-opinion-icon
				img
					display: inline-block
					float: right
					margin: 2px 0
