@import "./teacher_apps/transitions"
@import "./teacher_apps/desktop"
@import "./teacher_apps/mobile"

.teacher-apps
  background: url('../javascript/images/class.png')
  background-repeat: no-repeat
  height: 180px//40%
  width: 180px//40%
  background-size: contain
  position: absolute
  top: 70px//15%
  right: 80px//-20%

.teacher-content
  width: 660px
  margin: 0 auto
  padding-top: 90px

.share-button-container
  cursor: pointer
  transition: all 0.2s ease-out
  .SocialMediaShareButton
    transition: all 0.2s ease-out
    &:hover, &:active
      opacity: 0.85

.search-form
  background-color: transparent
  border-color: #ffffff
  border-style: solid
  color: #ffffff
  width: 100%
  margin-top: 2.0rem
  margin-bottom: 0.5rem
  margin-y: 1.5rem
  padding-left: 0.5rem
  padding-top: 0.2rem
  padding-bottom: 0.2rem
  .placeholder
    color: red

.grade-container
  width: 100%

.grades
  display: inline-block

.grade-one
  margin-y: 0.3rem
  margin-left: 0.6rem
  margin-right: 0.2rem

.teacher-heading
  text-align: center
  width: 100%

  &::placeholder
    color: #d4bbbb11

.btn-container
  padding: 1rem 0
  .btn-cta
    background-color: $white
    border-color: $pompadour
    color: $pompadour
    padding: 1rem 2rem
    margin-bottom: 120px
    &:hover,
    &:active
      background-color: $pompadour_lighter
  .btn
    border-width: 2px
    display: inline-block
    width: 100%
    padding: 0.4rem 0.8rem
    margin: 0.3rem auto
    img
      width: 34px
      top: 2px
    .text
      margin: auto
    .icon
      position: absolute
