#howBox
  z-index: 6
  background: url('/how-box.png') no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
.how-box-container
  background-color: rgba(0, 0, 0, .4)
.how-description
  h2
    font-size: 3.13rem
    font-weight: bold
.video-play
  img
    width: 60px
