#whatBox
  a
    color: $white
    transition: all 0.2s ease-out
    &:hover
      text-decoration: none
      .card-title
        background-color: $lighter-pink
        transition: all 0.2s ease-out
      .card-footer
        // background-color: $pompadour-light
        transition: all 0.2s ease-out
  .political-agreements-container
    margin: 0 0 auto 0
    height: 75%
    .card
      border-radius: 1.2rem
      border: 0
      margin: 1rem
      height: 318px
      width: 240px
      overflow: hidden
    .card-image
      overflow: hidden
      img
        width: 100%
    .card-title
      transition: all 0.2s ease-out
      background-color: $light-pink
      color: $pompadour
      font-size: 1rem
      font-weight: 600
      height: 90px
      padding: 5px 20px
      margin: 0 0 auto 0

      overflow: hidden
    .card-body
      height: 100%
      padding: 0
      background-color: $color_star_dust
    .card-footer
      transition: all 0.2s ease-out
      background-color: $pompadour
      border-radius: 0 0 1.2rem 1.2rem
      position: absolute
      bottom: 0
      width: 100%
      height: 46px
      border: 0
      padding: 0
      font-size: 0.9rem
      img
        width: 14px
        margin-left: 5px
    .final-result
      width: 80px
      height: 80px
      padding: 20px
      margin: 0
      position: relative
      bottom: 50px
      margin: auto
      border: 8px solid $white
      border-radius: 60px
      background-color: $light-mauve
      img
        margin: auto
        width: 22px
