.who-section
	background-image: linear-gradient(45deg, #FF9D60 0%, #E95C73 100%)
	background: url('../javascript/images/desktop-background-who-section.png')
	overflow: hidden
	background-repeat: no-repeat
	background-size: 100% 100%
	@include media-breakpoint-down(sm)
		background-size: 100% 800px
	.ghost-container
		@include media-breakpoint-down(sm)
			background-color: $white
			color: $black
			.btn-default
				border-color: $pompadour
				border-width: 2px
				color: $black
.who-description
	h3
		font-size: 1.88rem
		font-weight: bold
		padding-bottom: 0
		text-transform: uppercase
	p
		padding-top: 10px
		font-size: 0.875rem
	img
		width: 20px
	.btn-default
		border-radius: 1.5rem 0 0 1.5rem
		border-right-color: transparent
		width: 70%
		float: right
		clear: both
