#whoBox
	background-image: linear-gradient(45deg, #FF9D60 0%, #E95C73 100%)
.topicsButtonsWrapper
	// height: 105%
	margin: 0 auto
	padding: 0
	background: url(/arc.png) top center no-repeat
	background-size: 100%

.who-description
	h2
		font-size: 1.88rem
		font-weight: bold
		padding-bottom: 0
		text-transform: uppercase
	p
		padding-top: 10px
	img
		width: 20px
.more-apps
	padding: 0
	margin: 0
	text-align: right
	line-height: 1.4rem
	.ghost-container
		padding: 0 20px
		img
			width: 70px
			position: relative
			top: 10px
			float: right
			clear: both
		p
			width: 40%
			float: right
			clear: both
	.btn-default
		border-radius: 1.5rem 0 0 1.5rem
		border-right-color: transparent
		width: 70%
		float: right
		clear: both

.topicsButtonsContainer
	padding: 0
	@include media-breakpoint-up(sm)
		margin: 0 -200px
		height: 220px
	.btn-container
		padding: 0 8px
	.btn-fat
		margin-top: 10px
		min-width: 115px
		height: 40px
		line-height: 2rem

	.btn.btn-primary
		text-transform: uppercase
		font-size: 80%
		font-weight: 100
		letter-spacing: 0.3em
.questionsListContainer
	.question-block-wrapper
		border-bottom: 1px solid $white
	.question-block
		p
			padding: 5px 0 5px 30px
			background-size: 25px
			background-position-x: 0
			background-repeat: no-repeat
			background-position-y: 50%
			cursor: pointer
		p:after
			font-size: 32px
			font-weight: 100
			content: '>'
			position: absolute
			right: 30px
			transform: rotate(0deg)
		p.active:after
			transform: rotate(90deg)
			transition: all 0.4s ease-out
	.icon-container
		img
			width: 60px
			position: relative
			bottom: 10px
	img
		width: 20px
.opinionsContainer
	.btn-container
		.btn-yellow
			.party-name
				float: left
			.party-opinion
				float: right
